body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid plum;
}

.likes{
    color: rgb(174, 6, 174);
    margin: 0 20%;
    font-size: 18px;
}
.light{
    color: rgb(247, 126, 6);
    font-size: 26px;
}

#dislikes{
   color: purple; 
   margin: 0 20%;
   font-size: 18px;
}